# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Hayden\OneDrive - University of Exeter\Documents\Stage 1\ECM1410 Object-Oriented Programming\Assessments\Continuous Assessment 3\Ca3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
